extends layout

block content
  h1 Private ISUCON Web Admin
  
  form(action='', method='POST')
    button.btn.btn-primary.btn-lg(type='submit') Run Benchmarker
  
  table.table.table-striped
    thead
      tr
        th #
        th Status
        th Score
        th Result
        th Timestamp
    tbody
      for execution in executions.sort((a, b) => b.timestamp - a.timestamp)
        tr
          th(scope='row')= execution.id
          td= execution.status === 0 ? 'Running' : 'Completed'
          td
            strong(style='color: red')= execution.score
          td(style='width: 40%; font-family: monospace')= execution.result
          td= new Date(execution.timestamp).toISOString()
